@use './utils/' as *;
@use './components' as *;

:root {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

.container {
  max-width: 900px;
  min-width: 750px;
  margin-inline: auto;
  padding: unset 1rem;
}
