$border-transition-time: 0.3s;

@mixin border-pseudo($top: 0, $bottom: 0) {
  content: '';
  display: block;
  width: 0;
  top: $top;
  bottom: $bottom;
  position: absolute;
  height: 1px;
  background-color: black;

  -webkit-transition: width $border-transition-time;
  -moz-transition: width $border-transition-time;
  -ms-transition: width $border-transition-time;
  -o-transition: width $border-transition-time;
  transition: width $border-transition-time;
}
