@use '../vars' as *;

@mixin button {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1.2rem 2.3rem;
  text-transform: uppercase;
  font-size: 11px;
  background-color: $white;
  letter-spacing: 2px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  img {
    transition: transform 0.2s ease-in-out;
  }

  &:hover {
    background-color: $gray-light-hover;

    img {
      transform: translateX(5px);
    }
  }
}

@mixin button-overlay {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 11px;
  background-color: none;
  color: $white;
  letter-spacing: 2px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  img {
    transition: transform 0.2s ease-in-out;
  }

  &:hover {
    img {
      transform: translateX(5px);
    }
  }
}

@mixin dark-button {
  @include button;

  background-color: $black;
  color: $white;
  padding: 1rem 1.8rem;

  img {
    width: 1.5rem;
  }

  &:hover {
    background-color: $black-hover;
  }
}
